.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", "DFKai-SB", sans-serif;
  }
  #yes{
    color: darkgreen;
    background: lightgreen;
  }
  #no{
    color: darkred;
    background: lightpink;
  }
  .button{
    padding: 10px;
    margin: 10px -50%;    
    background: lightgray;
    color: black;
  }
  .button:hover,.button:active{
    box-shadow: 0px 0px 10px #888888;
  }
  a{
    text-decoration: none;
  }
  p{
    color: gray;
    font-size: initial;
  }